.Nav {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(1rem,1fr));
	grid-gap:1rem;
	border-bottom:1px solid black;
	padding:2rem 1rem;
	.nav-link {
		color:black;
		text-align:center;
	}
	.active-nav-link {
		color:orange;
	}
	img {
		max-width:100%;
		max-height:100px;
	}
}



