.cover {
  position: absolute;
  top:103px;
  left:0;
  background:white;
  width:100%;
  text-align:center;
  padding:20px;
  .blackDisplay {
    // padding:20px;
    min-height:100vh;
  }
  .closeDisplay {
    padding:3px;
    // margin-top:20px;
  }
}