.cover {
  position: absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,.5);
  height:100%;
  width:100%;
  text-align:center;
  .blackDisplay {
    background:black;
    padding:20px;
  }
  .closeDisplay {
    padding:10px;
    margin-top:20px;
  }
}