.cover {
  position: absolute;
  top:0;
  background:white;
  width:100%;
  text-align:center;
  padding:20px;
  .blackDisplay {
    // padding:20px;
    min-height:100vh;
  }
  .closeDisplay {
    padding:10px;
    margin-top:20px;
  }
}